.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #121213;
  border-radius: 8px;
  z-index: 1001;
  text-align: center;
  color: white;
  width: 90%;
  max-width: 350px;
  border: none; /* Remove default dialog border */
}

.popup::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.description {
  font-size: 16px;
}

.subtitle {
  font-size: 18px;
  font-style: italic;
  text-align: center;
}

.imageContainer {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.image {
  object-fit: contain;
}

.answer {
  font-size: 24px;
  letter-spacing: 0.1em;
  text-align: center;
} 