.popup {
  background-color: #fefefe;
  border-radius: 8px;
  z-index: 1001;
  text-align: center;
  color: rgb(0, 0, 0);
  width: 90%;
  max-width: 350px;
}

.popup::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.description {
  font-size: 16px;
}

.subtitle {
  font-size: 18px;
  font-style: italic;
}

.imageContainer {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.image {
  object-fit: contain;
}

.hintRow {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.hintEyeIcon {
  background: #222;
  border-radius: 50%;
}

.hintText {
  color: #222;
  font-size: 15px;
  text-align: center;
} 