.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
  padding: 1px;
}

.keyboardRow {
  display: flex;
  justify-content: center;
  gap: 1px;
}

.keyWide {
  min-width: 90px;
} 

@media (max-width: 450px) {
  .keyboard {
    gap: 1px;
    padding: 1px;
  }
  .keyboardRow {
    gap: 1px;
  }

  .keyWide {
    min-width: 64px;
  } 
}